<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container">
			<div th:replace="~{base :: titulo('Login')}"></div>
		
		<div th:if="${param.error}" class="alert alert-danger" role="alert">   
                    Usuário e senha inválidos.
                </div>
			<div class="card mb-3">
				
				<form id="login-form" th:action="@{/login}" class="card-body" method="post">
					<div class="form-group">
						<label for="username">Usuário</label>
						<input name="username"  class="form-control" placeholder="usuário" autofocus="autofocus"/>
					</div>
					<div class="form-group">
						<label for="password">Senha</label>
						<input type="password" name="password" class="form-control" placeholder="senha"/>
					</div>
					<button class="btn btn-primary" type="submit">Login</button>
				</form>
			</div>
		</div>
	</body>
</html>
